aiosqlite==0.20.0
beautifulsoup4==4.12.3
 soupsieve==2.6
 lxml==5.3.0
#gspread ==

#google-api-core==2.19.2
#google-api-python-client==2.143.0 
#google-auth-httplib2==0.2.0 
#googleapis-common-protos==1.65.0 
#httplib2==0.22.0 
#proto-plus==1.24.0 
#protobuf==5.28.0 
#pyparsing==3.1.4 
#uritemplate==4.1.1

#pip install --upgrade google-api-python-client google-auth-httplib2 google-auth-oauthlib